<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "NAS_jquery"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>實踐大學資管系典藏機構</name>

    <description>
        實踐大學專題管理數位典藏 
    </description>
<access origin="*" />
</widget>